@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(0.9903 0.0058 59.6542);
  --foreground: oklch(0.2161 0.0061 56.0434);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2161 0.0061 56.0434);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2161 0.0061 56.0434);
  --primary: oklch(0.3084 0.1285 300.5672);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6898 0.1843 39.8518);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9699 0.0013 106.4238);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --accent: oklch(0.9691 0.0161 293.7558);
  --accent-foreground: oklch(0.3084 0.1285 300.5672);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9232 0.0026 48.7171);
  --input: oklch(0.951 0.011 54.4954);
  --ring: oklch(0.3084 0.1285 300.5672);
  --chart-1: oklch(0.3084 0.1285 300.5672);
  --chart-2: oklch(0.6898 0.1843 39.8518);
  --chart-3: oklch(0.9392 0.0737 131.8779);
  --chart-4: oklch(0.643 0.1989 357.7773);
  --chart-5: oklch(0.6231 0.188 259.8145);
  --radius: 1rem;
  --sidebar: oklch(0.3084 0.1285 300.5672);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.6898 0.1843 39.8518);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3833 0.1477 298.9475);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3833 0.1477 298.9475);
  --sidebar-ring: oklch(0.6898 0.1843 39.8518);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1985 0.0446 303.5739);
  --foreground: oklch(0.9789 0.0013 106.4235);
  --card: oklch(0.2417 0.0574 302.311);
  --card-foreground: oklch(0.9789 0.0013 106.4235);
  --popover: oklch(0.2417 0.0574 302.311);
  --popover-foreground: oklch(0.9789 0.0013 106.4235);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(0.1985 0.0446 303.5739);
  --secondary: oklch(0.7073 0.1817 40.3193);
  --secondary-foreground: oklch(0.1985 0.0446 303.5739);
  --muted: oklch(0.221 0.0513 303.8025);
  --muted-foreground: oklch(0.7161 0.0091 56.259);
  --accent: oklch(0.3781 0.0761 302.8373);
  --accent-foreground: oklch(0.9789 0.0013 106.4235);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.9789 0.0013 106.4235);
  --border: oklch(0.3214 0.0666 302.7743);
  --input: oklch(0.3214 0.0666 302.7743);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.7073 0.1817 40.3193);
  --chart-3: oklch(0.8003 0.1821 151.711);
  --chart-4: oklch(0.7253 0.1752 349.7607);
  --chart-5: oklch(0.7137 0.1434 254.624);
  --sidebar: oklch(0.1985 0.0446 303.5739);
  --sidebar-foreground: oklch(0.9789 0.0013 106.4235);
  --sidebar-primary: oklch(0.7073 0.1817 40.3193);
  --sidebar-primary-foreground: oklch(0.1985 0.0446 303.5739);
  --sidebar-accent: oklch(0.2417 0.0574 302.311);
  --sidebar-accent-foreground: oklch(0.9789 0.0013 106.4235);
  --sidebar-border: oklch(0.3214 0.0666 302.7743);
  --sidebar-ring: oklch(0.7073 0.1817 40.3193);
  --radius: 1rem;
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --radius: 1rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
